.intro {
  --intro-width: calc(100% * 690 / 1280);
  max-width: var(--intro-width);
  margin: 92px 0 0 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
    --intro-width: calc(100% * 690 / 1024);
    margin: 92px 0 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    --intro-width: calc(100% * 720 / 768);
    margin: 88px 0 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    --intro-width: calc(100% * 288 / 320);
    margin: 64px 0 0 16px;
  }
}
