.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 92px 48px 0;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 64px auto 0 16px;
  }
}
