.link_lay_cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 8/5;
  height: auto;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.link_lay_cover:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, .3);
}

.link_lay_cover:hover:before {
  background-color: rgba(42, 44, 47, .8);
}

